body {
    background-color: #E5E5E5;
    color: #E5E5E5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
}



/* begin header */

header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 3.8em;
    border-bottom: 0.2em solid #25DEC8;
}





header img {
    width: 2.8em;
    margin: 0.15em 0em 0em 0.8em;
}

header img.burger {

    margin: 0.07em 0.8em 0em 0em;
    width: 1.7em;

}


#onzichtbaar {
    display: ;
    border-bottom: ;
    background: ;
    background-size: ;
    background-position: ;
    transition: all 0.7s ease-in-out;

}


.verschijn {
    display: block;
    border-bottom: 0.2em solid #25DEC8;
    height: 3.8em;
    width: 100%;
    position: fixed;
    z-index: 100;
    background: url(../img/studenthuislogo.svg), url(../img/burgermenu.svg);
    background-repeat: no-repeat;
    background-color: white;
    background-size: 3em, 1.8em;
    background-position: 0.7em 0.6em, 10em 1.2em;
    transition: all 0.7s ease-in-out;
}



header ul.navlist {
    display: flex;
    margin: 1.2em 0em 0em 0em;
    background-color: white;
}

header li.linkjes {
    list-style-type: none;
}

header a.link {
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    background-color: white;
    padding-right: 1.3em;
    color: #343A40;
}

header a:visited {
    color: #343A40;
}

header a:hover {
    color: #25DEC8;
}

header a:active {
    color: #25DEC8;
}



/* einde header */

/* belangrijkste content */

section {
    display: flex;
    flex-direction: column;
}



h1 {
    text-align: center;
    color: #343A40;
    font-size: 1em;
}

article {
    margin: 0em 0.35em 12em 0.35em;
    height: 10em;
    color: #343A40;
}







/* carousel */

::-webkit-scrollbar {
    background-color: #f4f4f4;
    width: 0.4em;
    display: none;
}

::-webkit-scrollbar-thumb {
    background: url(../img/scrollbar.svg) no-repeat;
    display: none;
}

::-webkit-scrollbar:horizontal {
    background-color: #f4f4f4;
    border-bottom: #e6e6e9;
    height: 1.2em;
    display: none;

}

::-webkit-scrollbar-track:horizontal {
    background-position: 5em 6em;
    background: #e6e6e9;
    border-bottom: 3px solid #e6e6e9;
    display: none;

}

::-webkit-scrollbar-thumb:horizontal {
    background: #e6e6e9;
    display: none;
}


.carouselafsnee {
    overflow: hidden;
    height: 9.5em;
}


.content {
    width: 63em;
    list-style-type: none;
}


.card {
    width: 22em;
    height: 8em;
    float: left;
    margin: -1em 0em 0em -2.5em;
    cursor: pointer;
    transform: scale(1);
    visibility: visible;
    background-color: #fff;
}



.carouselafsnee {
    overflow: auto;
    zoom: 1;
}


/* carousel */

/* de tekst */

article div.bloktitel {
    background-color: white;
    height: 8em;
    display: flex;
    color: #343A40;
    flex-direction: column;
}

.bloktitel h2 {
    margin: 0;
    padding: 0.5em 0em 0.2em 0.65em;
}

.bloktitel h3 {
    margin: 0em 0em 0em 0.8em;
    font-size: 1.2em;
}

.bloktitel h4 {
    font-size: 1em;
    color: #25DEC8;
    margin: 0.5em 0.8em 0em 0.8em;
    font-size: 1.2em;
    background-color: ;
    display: block;
    padding-bottom: 1.5em;
    border-bottom: 0.05em solid #E5E5E5;
}


/* de tekst */

/* de knop */

.meerinfo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1em 2.5em 1.2em 2.5em;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    margin-top: -0.2em;
    border: none;
    color: #343A40;
    margin-bottom: -1.5em;
    box-shadow: 0 0.06rem 0 0 rgba(7, 7, 33, .25);
}

.meerinfo2 {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 1em 2.5em 1.2em 2.5em;
    text-align: center;
    outline: none;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bolder;
    font-size: 1em;
    border: none;
    color: #343A40;
    margin-bottom: -1.5em;
    margin-top: -0.2em;
    box-shadow: 0 0.06rem 0 0 rgba(7, 7, 33, .25);
}

/* de knop */

/*icons*/

/*icons*/

/* word vervangen door deinfo */

.info {
    display: flex;
    color: transparent;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease-in-out;
    height: 0em;
    box-shadow: 0 0.06rem 0 0 rgba(7, 7, 33, .25);
}

.info2 {
    display: flex;
    color: transparent;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.4s ease-in-out;
    height: 0em;
    box-shadow: 0 0.06rem 0 0 rgba(7, 7, 33, .25);
}

/* word vervangen door deinfo */

/* is de vervanger voor info */

.deinfo {
    background-color: white;
    display: block;
    color: #343A40;
    height: 9em;
    display: flex;
}


.deinfo2 {
    background-color: white;
    display: block;
    height: 8.5em;
    display: flex;
    color: #343A40;
}




/* is de vervanger voor info */

/* de informatie van de dropdown */

.info ul {
    padding-top: 1em;
    list-style-type: none;
    margin: 0.5em 0em 0em -1.45em;
    line-height: 1.35em;
    margin-right: 1.5em;
    color: ;
}

.info ul.kolom {
    font-weight: 100;
    color: ;
}

.info2 ul.kolom {
    font-weight: 100;
    color: ;
}



.info2 ul {
    padding-top: 1em;
    list-style-type: none;
    margin: 0.5em 0em 0em -1.45em;
    line-height: 1.35em;
    margin-right: 1.5em;
    color: ;
}

p {
    text-indent: 10px;
}


/* de informatie van de dropdown */

/* tussenruitme */

.ruimte {
    height: 0em;
    transition: all 0.4s ease-in-out;
}

.vervangruimte {
    height: 7.5em;
    transition: all 0.4s ease-in-out;
}

/* tussenruimte */

.pijltje {
    width: 1em;
    margin: 0.3em 0em 0em 1em;
    transform: ;
    transition: all 0.4s ease-in-out;
}

.pijltje2 {
    width: 1em;
    margin: 0.3em 0em 0em 1em;
    transform: ;
    transition: all 0.4s ease-in-out;
}

.omgedraaid {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
}

.omgedraaid2 {
    transform: rotate(180deg);
    transition: all 0.4s ease-in-out;
    width: 1em;
}

/* einde belangrijkste content */

/* weg met standaard styling searchbar */

input {
    -webkit-appearance: none;
}

/* weg met standaard styling searchbar */
